<!DOCTYPE html>
<html>
<head>
    <title>Quiz Results</title>
</head>
<body>
    <h1>Quiz Completed!</h1>
    <p>Your final score: <%= score %> out of <%= totalQuestions %></p>
    <p>Percentage: <%= percentage %>%</p>
    
    <a href="/quiz">Start New Quiz</a>
</body>
</html>